<mat-toolbar color="primary">
  <span routerLink="">{{ title }}</span>

  <span class="example-spacer"></span>

  <button
    mat-icon-button
    class="example-icon favorite-icon"
    aria-label="Dashboard"
    matTooltip="Dashboard"
    routerLink="dashboard"
  >
    <mat-icon>dashboard</mat-icon>
  </button>
  <button
    mat-icon-button
    class="example-icon favorite-icon"
    aria-label="Heroes List"
    matTooltip="Heroes"
    routerLink="heroes"
  >
    <mat-icon>sports_martial_arts</mat-icon>
  </button>
</mat-toolbar>
<div class="content" fxLa>
  <router-outlet></router-outlet>
  <br />
  <app-messages></app-messages>
</div>
