mat-grid-tile {
  background: white;
}

.example-container mat-card {
  margin-left: 10px;
  padding: 5px 10px;
  height: 100%;
}

.example-form-fields {
  display: flex;
  align-items: flex-start;
  align-items: center;
}

.pointer {
  cursor: pointer;
}
