.add-button {
  position: absolute;
  right: 20px;
  top: 70px;
}

mat-row:hover {
  cursor: pointer;
  background: whitesmoke;
}

.demo-table {
  width: 100%;
}

.mat-mdc-row .mat-mdc-cell {
  border-bottom: 1px solid transparent;
  border-top: 1px solid transparent;
  cursor: pointer;
}

.mat-mdc-row:hover .mat-mdc-cell {
  border-color: currentColor;
}

.demo-row-is-clicked {
  font-weight: bold;
}

.mat-column-id {
  max-width: 60px;
}

.mat-column-actions {
  border-left: 1px solid currentColor;
  max-width: 80px;
  padding-left: 16px;
}
